<div class="alert alert-success">
	<p><%= notice %></p>
</div>
<p><strong>Idioma:</strong>
	<%= @nuevo_idioma.idioma %>
</p>

<%= link_to 'Editar', edit_idioma_path(@nuevo_idioma), class: "btn btn-link" %> |
<%= link_to 'Atras', idiomas_path, class: "btn btn-link" %>