<p id="notice"><%= notice %></p>

<p><strong>Descripción</strong>
	<%= @nuevo_tipoprestamo.descripcion %>
</p>

<%= link_to 'Editar', edit_tipoprestamo_path(@nuevo_tipoprestamo) %> 
<%= link_to 'Atras', tipoprestamos_path %>