<div class="alert alert-success">
	<p><%= notice %></p>
</div>

<p><strong>Descripción:</strong>
	<%= @nuevo_tipoprestamo.descripcion %>
</p>

<%= link_to 'Editar', edit_tipoprestamo_path(@nuevo_tipoprestamo), class: "btn btn-link" %> |
<%= link_to 'Atras', tipoprestamos_path, class: "btn btn-link" %>