body{
    /*background-image: image-url('bg-login.jpg');*/
	padding-top:140px; 
	font-size:13px; 
	color:#393939;
}

#form_container{
	position:relative; 
	background: #c8cfc8; 
	width: 100%; 
	height: 100%; 
	padding-top:2%; 
	padding-left: 10%; 
	padding-bottom: 5%;
	/* Firefox */
    border-radius: 15px 15px 15px 15px;
    /* Safari, Chrome*/
    -webkit-border-radius: 15px 15px 15px 15px;
    /* IE */
    behavior: url(border.htc);
}
h3{
	margin-left: 40%;
}