<p id="notice"><%== notice %></p>

<p><strong>Descripcion</strong>
	<%= @nuevo_tipousuario.descripcion %>
</p>
<%= link_to 'Editar', edit_tipousuario_path(@nuevo_tipousuario) %>
<%= link_to 'Atras', tipousuarios_path %>