<div class="alert alert-success">
	<p><%= notice %></p>
</div>

<p><strong>Descripción:</strong>
	<%= @nuevo_tipousuario.descripcion %>
</p>
<%= link_to 'Editar', edit_tipousuario_path(@nuevo_tipousuario), class: "btn btn-link" %> |
<%= link_to 'Atras', tipousuarios_path, class: "btn btn-link" %>