<p id="notice"><%= notice %></p>

<p><strong>Descripción</strong>
	<%= @nuevo_tipomaterial.descripcion %>
</p>

<%= link_to 'Editar', edit_tipomaterial_path(@nuevo_tipomaterial) %>
<%= link_to 'Atras', tipomateriales_path %>