<div class="alert alert-success">
	<p><%= notice %></p>
</div>
<p><strong>Descripción:</strong>
	<%= @nuevo_tipomaterial.descripcion %>
</p>

<%= link_to 'Editar', edit_tipomaterial_path(@nuevo_tipomaterial), class: "btn btn-link" %> |
<%= link_to 'Atras', tipomateriales_path, class: "btn btn-link" %>