<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Usuarios</title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
</head>
	
<!-- <header>	
		<div class="row">
			<div class="col-xs-8">
				<p class="text-left">Libnet</p>
				<p class="text-left">Biblioteca Jose Coronel Urtecho</p>
				<p class="text-left">Universidad Centroamericana</p>
			</div>
		</div>	
</header> -->

<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
<footer>
	<div id="footer">
	<p class="text-center">&#169 Derechos reservados <%= Time.now.year %></p>
	</div>
</footer>

</html>