<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Usuarios</title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
</head>
	
<header>
	
		<div class="row">
			<div class="col-xs-8">
				<p>Libnet</p>
				<p>Biblioteca Jose Coronel Urtecho</p>
				<p>Universidad Centroamericana</p>
			</div>
				
			<div class="col-xs-4">
				<p>JimmyMejia</p>
				<p>Cerrar sesion</p>
			</div>
		</div>
	
</header>

<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
<footer>
	<div id="footer">
	<p>&#169 Derechos reservados <%= Time.now.year %></p>
	</div>
</footer>

</html>